

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-right:0px;
  /* background:linear-gradient(#0063a6,black) */
  background-color: #06003D;
}



a {
  color: inherit;
  text-decoration: none;
}



body::-webkit-scrollbar {
  display: none;
}

#showcase-main-body::-webkit-scrollbar {
  display: none;
}
